*,
*::before,
*::after {
  box-sizing: content-box;
}
body {
margin-top: 0cm;
}

body {
  margin: 0;
  background-color: yellow;
  font-family: sans-serif;
}
body {
  margin: 0;
  background-color: rgba(211, 211, 211, 0.86);
  font-family: sans-serif;
  background-image: url("Hintergrund_1.1.png"); 
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}

.textlang {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  
}

section {
  background-color: pink;
}

 img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 }

